<H1>Hi there, what's on your mind today?</H1>

<form action="answer" data-turbo="false">
  <label for="question"> Speak to me...</label>
  <input id="question" type="text" name="answer">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>


<%# method =get request %>
